<div class="hero-unit">
		<h2>Welcome to ContractON</h2>
                <p>ContractON is a place where contractors and clients can connect easier</p>
		<div class = 'row'>
			<div class="span6">
		<h3>For Contractors:</h3>
	         <%= link_to "Sign Up Now!", 'signup', class: "btn btn-large btn-primary" %>
	     </div>
	     <div class="span6">
		<h3>For Companies: </h3>
		 <%= link_to "Sign Up Now!", 'csignup', class: "btn btn-large btn-primary" %> <%= link_to "See current users!", cshow_path, class: "btn btn-large btn-primary" %>
		</div>
</div>
