<div class="reply">
<div class="name"><%= r.company.name %> replied</div>
<div class="time"><%= time_ago_in_words(r.created_at).capitalize %> ago</div>
<div class="content"><%= r.content %></div>
</div>