<div class="relative">
	
		<div class="hero-unit" >
			<div class="span6 offset3">
				<h1>                     Search Page</h1>
			</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="span6 offset3">
<%= form_tag companies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
     <%= select_tag("keywards", options_for_select([['Name', '1'],['Geographic Location', '2'],['Profession','3'],['Contract Length','4'], ])) %>
     <%= submit_tag "Search", :name => nil %>
     </p>
     <b> <li> Now you can only search by contractor's Name or Profession </li></b>
<% end %>

</div>
</div>

</div>
