<h1>Company Profile</h1>
<h2>This is page for company profile</h2>
<div class="row">
	<p>	<img src="rails.png" alt="Your picture"></p>	
	<div class="span6 offset3">
		
	<table border="0">
        
	<tr>
		<th>Name</th>
		<th>Industry</th>
		<th>Contracts available now</th>
		<th>Contact Information</th>
		<% if signed_in? %>
			<th>Password</th>
			<th>supervisor</th>
		        
		<% end%>
		
       </tr>

       <tr> 
                <td><%= @Company.name %></td>
		<td><%= @Company.industry %></td>
		<td>None</td>
		<td>None</td>
		<% if signed_in? %>
			<td><%=@Company.password %></td>
			<td>None</td>
		<%end%>	
		

	</tr>

    
</table>
	</div>
	

</div>

