<div class="relative">
<h2>Search Result Page</h2>

<div class="row">
	
	<div class="span6 offset3">		
	<table border="1">
	<form action="#">
	<tr>
		<th>Name</th>
		<th>Industry</th>
       </tr>
        <% @company.each do |c| %>
       <tr>
	       
                <td><%= c.name %></td>
		<td><%= c.industry %></td>
	
		
		
               <td><%=link_to "enter the profile", c%>

	</tr>      
        <% end %>
</table>
<%=link_to "Back", contractors_search_path, class: "btn" %>
	</div>
	

</div>
</div>
