<div class="relative">
<h2>Search Result Page</h2>

<div class="row">
	
	<div class="span6 offset3">		
	<table border="1">
	<form action="#">
	<tr>
		<th>Name</th>
		<th>Industry</th>
       </tr>

    
</table>
<%=link_to "Back", search_path, class: "btn" %>
	</div>
	

</div>
</div>
